<div id='demo'>
  <table>
      <tr>
        <td>Current Market Price</td>
        <td>Rs. {{output[0]}}</td>
      </tr>
      <tr>
          <td>Percent Change</td>
          <td>{{output[1]}} %</td>
        </tr>
        <tr>
          <td>Open</td>
          <td>Rs. {{output[2]}}</td>
        </tr>
        <tr>
          <td>High</td>
          <td>Rs. {{output[3]}}</td>
        </tr>
        <tr>
          <td>Low</td>
          <td>Rs. {{output[4]}}</td>
        </tr>
        <tr>
          <td>Close</td>
          <td>Rs. {{output[5]}}</td>
        </tr>
        <tr>
          <td>Percent Change in 2 weeks</td>
          <td>{{output[6]}} %</td>
        </tr>
  </table>
</div>